@import "./utils/vars.scss";
@import "./components/general";
@import "./components/header";
@import "./components/main-header";
@import "./components/modal-box";
@import "./components/form";
@import "./components/advantages";
@import "./components/what-we-do";
@import "./components/team";
@import "./components/social-icons";
@import "./components/clients";
@import "./components/footer";
@import "./components/portfolio-buttons";
@import "./components/portfolio";

