.nav-footer {
    background-color: getColor("background-color");
    padding-top: 60px;
    padding-bottom: 160px;

    li {
        list-style: none;
    }
}

.footer-box & .left-footer {
    display: flex;
    
}
.comp-name--logo-color {
    color: getColor(accent-color);
}

@media screen and (max-width: 767px) {
.nav-footer {
        background-color: getColor("background-color");
        padding-top: 60px;
        padding-bottom: 160px;
}
}
    .footer-box {
        flex-direction: column;
        align-items: center;
        gap: 60px;
}
.social-icons-list-footer {
    flex-direction: inline;
    align-items: center;
}






.nav-footer__link {
    text-align: center;
    text-decoration: none;
    color: getColor("contrast-text-color");
}

.nav-logo-footer {
    color: getColor("contrast-text-color");
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 93px;
}
.nav-footer__address {
    font-style: normal;
    color: getColor("contrast-text-color");
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 20px;
    margin-bottom: 9px;
}

.nav-footer__contacts {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    a {
        color: getColor("contacts-color");
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}


.nav-footer a:focus,
.nav-footer a:hover {
    color: getColor("accent-color");
}

.text-footer {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor("contrast-text-color");
    margin-bottom: 20px;
    margin-top: 12px;
}

.social-icons-list-footer {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.social-icons-list-footer__item {
    border-radius: 50%;
    background-color: #ffffff1a;
    color: getColor("contrast-text-color");
    text-align: center;
}

.social-icons__icon-footer {
    padding: 12px;
    fill: #ffffff;
}

