.portfolio-buttons {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
    font-weight: 500;

    button {
        border-radius: 4px;
        border: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        padding: 6px 22px;
        background-color: getColor("alternative-background-color");
        cursor: pointer;
        color: getColor("alternative-text-color");
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            background-color: getColor("accent-color");
            color: getColor("contrast-text-color");
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
        }
    }
}